@media screen and (max-width: 768px) {
    .wrapper {
        width: 375px;
        height: 2258px;
        padding: 32px 16px;
    }

    .top {
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }

    .bottom {
        flex-direction: column;
        gap: 40px;
    }


    .wrapper div {
        width: 343px;
        height: 332px;
    }


}