@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.wrapper {
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px 48px;
    margin: 0 auto;
}

.top {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.wrapper div {
    width: 372px;
    height: 354px;
    display: flex;
    flex-direction: column;
}

.wrapper img {
    width: 372px;
    height: 279px;
}


h3 {
    margin-top: 20px;
    flex: 1 0 0;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

p {
    margin-top: 15px;
    align-self: stretch;
    color: #3C3C43;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


