@media screen and (min-width: 376px) and (max-width: 768px) {
    body {
        width: 768px;
        height: 654px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 32px 24px 0 24px;
    }

    .bottom {
        padding-bottom: 32px;
    }

    .wrapper div {
        width: 219px;
        height: 239px;
        justify-content: flex-start;
    }


    .wrapper img {
        width: 219px;
        height: 164px;
    }

}