@media screen and (min-width: 481px) and (max-width: 768px) {
    .wrapper {
        width: 768px;
        height: 652px;
        padding: 48px 24px;
        gap: 24px;
        flex-wrap: wrap;
    }

    .wrapper div {
        width: 348px;
        height: 258px;
    }

    h3 {
        margin: 20px 0 10px 0;
        flex: 1 0 0;
        color: #161543;
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
    }

    p {
        color: #7687A1;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    .wrapper div:nth-child(3), .wrapper div:nth-child(4) {
        margin-top: 16px;
    }

}

