@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1440px;
    height: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px 48px;
    gap: 32px;
    border: 1px solid gray;
}

div {
    width: 271px;
    height: 280px;
    border: 1px solid gray;
}

img {
    width: 140px;
    height: 140px;
    border: 1px solid gray;
}