body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.header {
    font-size: 26px;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

}

.boxmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: gray 2px solid;

}

.inbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    width: 200px;
    height: 200px;
    border: solid 2px gray;
    border-radius: 15%;
}

img {
    margin-bottom: 0;
    width: auto;
    height: 140px;
}

p {
    display: flex;
    align-items: flex-end;
}

.footer {
    font-size: 18px;
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: flex-end;
}