* {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: 4.5vh 42.75vh 42.75vh  10vh;
    grid-template-columns: 29vw 30.5vw 40.5vw;
    grid-template-areas:
    "hdr hdr hdr"
    "lft1 lft2 tp"
    "lft1 lft2 bttm"
    "ftr ftr ftr"


}

header {
    background: #D9D9D9;
    grid-area: hdr;
}

.left_1 {
    background: #A4A4A4;
    grid-area: lft1;
}

.left_2 {
    background: #C1C1C1;
    grid-area: lft2;
}

.top {
    background: #7F7A7A;
    grid-area: tp;
}

.bottom {
    background: #6B6161;
    grid-area: bttm;
}


footer {
    background: #D9D9D9;
    grid-area: ftr;
}