/*----------напис зверху блочний -----------*/
/*----------відступ зверху -----------*/
label {
    display: block;
    margin-top: 10px;
}


/*----------колір зірочки(стилізація)-----------*/
form sup {
    color: red;
}


/*----------збільшення форми для вводу-----------*/
/*input {*/
/*    width: 150px;*/
/*}*/

