/*----------напис зверху блочний -----------*/
/*----------відступ зверху -----------*/
label {
    display: block;
    margin-top: 10px;
}


/*----------колір зірочки(стилізація)-----------*/
form sup {
    color: red;
}


/*----------збільшення форми для вводу-----------*/
/*input {*/
/*    width: 150px;*/
/*}*/

type {
    color: #d11212;
}

textarea {
    resize: none; /*------прибирає можливість змінювати розмір в інтерфейсі користувача-----------*/
    width: 180px;
    height: 60px; /*--розміри які мають більший пріорітет ніж вбудовані значення/атрибути в тегові--*/
}
