.pinkbox {
    width: 200px;
    height: 200px;
    background-color: pink;
    margin: 100px auto 0 auto;
    animation: name 2s linear infinite alternate;
}

@keyframes name {
    /*0%{*/
    /*    */
    /*}*/

    /*100%{*/
    /*    */
    /*}*/
    /*або*/

    from {
        transform: /*scale(1.5) rotate(60deg) */ skew(40deg);
    }

    40% {
        border-radius: 20%;
        /*transform: rotate(-60deg);*/
    }

    to {
        transform: /*scale(1)*/ rotate(0deg);
        background-color: yellow;
    }

}