div :first-child { /*------ПСЕВДОКЛАС----*/
    color: green;
}

div :last-child {
    color: #ea8282; /*------last-child----*/
}


/*-----------------------------------------------------------------------------------*/
/*div p::first-letter { !*------ПСЕВДОЕЛЕМЕНТ----*!*/
/*    color: blue;*/
/*    font-size: 30px;*/
/*}*/

/*div p::first-line {*/
/*    color: yellow;*/
/*}*/


/*-----------------------------------------------------------------------------------*/
/*ul li:nth-child(2n) {  !*------- кожен 2-й стилізується-------*!*/
/*    color: #14ca93;*/
/*}*/
/*ul li:nth-child(2n+5) {  !*------- починаючи з 5-го , кожен 2-й елемент списку стилізується-------*!*/
/*    color: #14ca93;*/
/*}*/
/*ul li:nth-child(odd) {  !*------- кожен НЕ ПАРНИЙ елемент списку стилізується-------*!*/
/*    color: #14ca93;*/
/*}*/
/*ul li:nth-child(even) { !*------- кожен ПАРНИЙ елемент списку стилізується-------*!*/
/*    color: #14ca93;*/
/*}*/


/*-----------------------------------------------------------------------------------*/
ul li:nth-last-child(2n+7) { /*-------починаючи з 7-го , кожен 2-й елемент З НИЗУ списку стилізується-------*/
    color: #0bedab;
}