@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1753471644362-5b1e77197ea8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}


/*------------------top_nav-----------------*/
.top_nav {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 12vh;
    background-color: #D9D9D9;
    border-bottom: 1px gray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.btn_nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;
}

.navbar {
    border-radius: 10px;
    width: 40vw;
    margin-right: 1.5vw;
}


/*------------------main-----------------*/

.carusel_box {
    display: flex;
    justify-content: center;
}

#carouselExampleDark {
    padding-top: 12vh;
    width: 87vw;
}

.carousel-item {
    height: 60vh;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

main .card {
    border: 1px gray solid;
    background-color: #D9D9D9;
}

.card {
    margin-top: 30px;
}

.card-img-top {
    width: 295px;
    height: 180px;
    object-fit: cover;
}

p {
    height: 100px;
    align-content: start;
}

/*-----------------footer-----------------*/

footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100vw;
    height: 4vh;
    background-color: #D9D9D9;
    border-top: 1px gray solid;
    margin-top: 30px;
    justify-items: center;
}