@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*------------------top_nav-----------------*/
.top_nav {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 12vh;
    background-color: mediumseagreen;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.btn_nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;
}

.navbar {
    border-radius: 10px;
    width: 40vw;
    margin-right: 1.5vw;
}


/*------------------main-----------------*/

.carusel_box {
    background-color: rgba(117, 112, 112, 1);
    display: flex;
    justify-content: center;
}

#carouselExampleDark {
    border-radius: 10px;
    border: 1px black solid;
    margin-top: 15vh;
    width: 92vw;
}

#carouselExampleDark img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.carousel-item {
    height: 60vh;
}

main {
    background-color: rgba(117, 112, 112, 1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding-bottom: 7vh;
}

main .card {
    border: 1px black solid;
    background-color: #D9D9D9;
}

.card {
    margin-top: 30px;
}

.card-img-top {
    width: 295px;
    height: 180px;
    object-fit: cover;
}

p {
    height: 100px;
    align-content: start;
}

/*-----------------footer-----------------*/

footer {
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100vw;
    height: 4vh;
    background-color: mediumseagreen;
    border: 1px black solid;
    margin-top: 30px;
    justify-items: center;
}