body {
    display: flex;
    justify-content: flex-end;
}

aside {
    display: flex;
    background-color: silver;
    width: 15vw;
    height: 100vh;
    justify-content: center;
}

ol {
    color: #313a21;
    font-size: 22px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
