* {
    margin: 0;
}

body {
    background: rgba(0, 0, 0, 0.23);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 3%;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border-left: 8px solid deeppink;
    border-top: 8px solid cornflowerblue;
    border-right: 8px solid red;
    border-bottom: 8px solid mediumspringgreen;
    animation: circl 10s ease infinite alternate;
}

header {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
}

.eye {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    background-color: black;
    border: 4px solid peachpuff;
    border-radius: 50%;
}

.pupil {
    width: 1vw;
    height: 1vw;
    background-color: #fbf8f9;
    border-radius: 50%;
}

.mouth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}

.mouth > div {
    width: 1.5vw;
    height: 1vw;
    background-color: #dddddd;
    border: 1px solid #292727;

}

@keyframes circl {
    from {
        transform: scale(1.5) translate(-500px, 200px) rotate(360deg);
    }
    50% {
        transform: scale(1) translate(500px, -200px) rotate(-360deg);
    }
    75% {
        transform: scale(1.5) translate(-500px, 200px) rotate(360deg);
    }

    to {
        transform: scale(0.5) translate(500px, -200px) rotate(-360deg);
    }
}